@font-face {
  font-family: "iconfont"; /* Project id  */
  src: url('iconfont.ttf?t=1683186796141') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-shaixuan:before {
  content: "\e626";
}

.icon-aboutus1:before {
  content: "\e61f";
}

.icon-bangzhu:before {
  content: "\e664";
}

.icon-chuangkou:before {
  content: "\e665";
}

.icon-chaxun:before {
  content: "\e666";
}

.icon-dianliu:before {
  content: "\e669";
}

.icon-dianli:before {
  content: "\e672";
}

.icon-hedian:before {
  content: "\e673";
}

.icon-jiekou:before {
  content: "\e677";
}

.icon-tuichu:before {
  content: "\e678";
}

.icon-queren:before {
  content: "\e679";
}

.icon-shouye:before {
  content: "\e67a";
}

.icon-xitongguanli:before {
  content: "\e67e";
}

.icon-tongji:before {
  content: "\e67f";
}

.icon-Controlinfo-:before {
  content: "\e647";
}

.icon-Animationclock--:before {
  content: "\e648";
}

.icon-Controlclose-:before {
  content: "\e649";
}

.icon-Controlarrowdown-:before {
  content: "\e64a";
}

.icon-Controlchevrondown-:before {
  content: "\e64b";
}

.icon-Controlremove-:before {
  content: "\e64c";
}

.icon-Generalaccount-:before {
  content: "\e64d";
}

.icon-Controlhelp-:before {
  content: "\e64e";
}

.icon-Controltask--:before {
  content: "\e64f";
}

.icon-Controlalert--:before {
  content: "\e650";
}

.icon-Controladd--:before {
  content: "\e651";
}

.icon-Arrowmove-:before {
  content: "\e652";
}

.icon-Arrowcollapsediagonal-:before {
  content: "\e653";
}

.icon-Arrowmove-1:before {
  content: "\e655";
}

.icon-Arrowrefresh-:before {
  content: "\e656";
}

.icon-Generalpicture-:before {
  content: "\e657";
}

.icon-Generalconnect-:before {
  content: "\e65a";
}

.icon-Generalcalendar-:before {
  content: "\e65b";
}

.icon-Generalmoon-:before {
  content: "\e65e";
}

.icon-Generaldownload-:before {
  content: "\e65f";
}

.icon-Controlsettings-:before {
  content: "\e660";
}

